*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #380c29;
    text-align: center;
}

h1{
    color: #00b5c9;
    font-size: 6vmin;
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 3rem;             
    margin-top: 1rem;

}

.game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 69vmin;
    height: 69vmin;
    margin: auto;
    position: relative;
}

/* REAL tic-tac-toe lines */
.box:nth-child(2),
.box:nth-child(5),
.box:nth-child(8) {
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
}

.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6) {
    border-top: 5px solid yellow;
    border-bottom: 5px solid yellow;
}

.box{
    background-color: #0E1428;
    border: none;               
    font-size: 11vmin;
    color: #ff0800;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #588750;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #588750;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #e9c8c8;
    font-size: 8vmin;
    font-weight: bold;
    animation: pop 0.6s ease-in-out forwards;
}
@keyframes pop {
    0%   { transform: scale(0);   opacity: 0; }
    60%  { transform: scale(1.3); opacity: 1; }
    100% { transform: scale(1);   opacity: 1; }
}

.msg-container{
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hide{
    display: none;
}

.winner-box {
    background-color: #bc2323;   
    color: #0E1428;               
    font-weight: bold;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from { box-shadow: 0 0 1px yellow; }
    to   { box-shadow: 0 0 2.5px yellow; }
}

/* Responsive for Mobile (small phones) */
@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 6vmin;
        margin-top: 1rem;
    }


    .game {
        width: 69vmin;
        height: 69vmin;
    }

    .box {
        width: 23vmin;
        height: 23vmin;
        font-size: 11vmin;
    }
}

/*Responsive for Tablets / Big Phones */
@media (min-width: 600px) and (max-width: 1024px) {
    .game {
        width: 69vmin;
        height: 69vmin;
    }

    .box {
        width: 23vmin;
        height: 23vmin;
        font-size: 11vmin;
    }

    h1 {
        font-size: 6vmin;
    }
}

